body,
html,
#root {
  margin: 0;
  height: 100%;
}

body{	
	font-size: 15px;
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
	text-transform: none;
	background: #f0f0f0;
	color: #575757;
}

.container{
	max-width: 2880px;
}

.containerMain{
	width: 100%;
	min-width: 70%;  /* test */
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
}

* {
  -webkit-overflow-scrolling: touch;
}

main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  padding-left: 65px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}