/*--------------------TRADE-MAIN-----------------------*/

.tradeMain{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1320px;
  padding-top: 20px;
	width: 100%;
	height: 100%;
	color: #fff;
}

.tadeTop{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
	min-width: 800px;
	padding: 0 20px;
	height: 80px;
	background-color: rgba(0,0,0,0.08);
	border-radius: 15px;
}

.tradeGame{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	min-width: 200px;
}

.tradeGameSelect{
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	margin-right: 10px;
}

.tradeGameItem{
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	position: relative;
	padding-right: 25px;
	text-decoration: none;
}

.tradeGameItem::after{
	position: absolute;
	content: '';
	height: 8px;
	width: 15px;
	background: url('./assets/images/svg/white-down_tmp.svg') center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	right: 5px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);

}

.tradeStream{
	max-width: 550px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: center;
}

.tradeStreamTitle{
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	padding-left: 30px;
}

.tradeStreamUrlWrap{
	position: relative;
	min-width: 50%;
}

.tradeStreamUrl{
	position: relative;
	width: 520px;
	max-width: inherit;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0.13);
	padding: 8px 23px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
	margin-top: 8px;
	border-radius: 15px;

}



.tradeStreamUrlWrap::after{
	position: absolute;
	content: '';
	height: 9px;
	width: 13px;
	background: url('./assets/images/svg/checked.svg') center no-repeat;
	-webkit-background-size: 13px;
	background-size: 13px;
	right: 10px;
	top: 50%;
	z-index: 100;
}


/*--------------------------tradeSkins---------------------*/



.tradeSkins{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 520px;
	padding: 25px;
	background-color: rgba(0,0,0,0.08);
	border-radius: 15px;
	margin-top: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tradeSkinsItemWrap{
	width: 100%;
	height: 420px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.tradeSkinsTitle{
	font-size: 17px;
	text-align: center;
	flex-basis: 100%;
	margin-bottom: 25px;
}

.tradeSkinsItem{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	background-color: rgba(0,0,0,0.08);
	border-radius: 15px;
	width: 100px;
	height: 125px;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.skinsItemImg{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	height: 50px;
	width: 85px;
}

.skinsItemImg img{
	max-width: 100%;
	max-height: 100%;
}

.skinsItemName{
	font-size: 10px;
	text-align: center;
	margin-top: 7px;
}

.skinsItemPrice{
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	margin: 2px 0;
}

.skinsItemSale{
	font-size: 10px;
	text-align: center;
	font-weight: 700;
	position: relative;
}

.skinsItemSale::after{
	position: absolute;
	content: '';
	width: 125%;
	height: 1px;
	background-color: #fff;
	left: -12.5%;
	top: 50%;

}

.skinSelected{
	position: relative;
	width: 100px;
	height: 125px;
	border-radius: 15px;

}


.skinSelected::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: url("./assets/images/svg/checked.svg") center 5%  no-repeat;
	-webkit-background-size: 50px;
	background-size: 50px;
	z-index: 100;
}

.tradeSkinsPagination{
	flex-basis: 100%;
}


/*---------------------PAGINATION------------------------*/


#page-navi {
  min-width: 100px;
  height: 30px;
  margin: 10px;
  margin-bottom: 10px;
  padding: 0px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
#page-navi li {
  margin: 0 1px;
}
.previos {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#page-navi li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
  background: #fff;
  -webkit-transition: background 200ms linear;
  transition: background 200ms linear;
  background-color: rgba(0,0,0,0.18);
  color: #fff;
}
#page-navi li a.current, #page-navi li a.disable, #page-navi li a:hover {
  background: rgba(255,255,255,0.18);
  color: #fff;
}
#page-navi li:last-child a {
  margin-right: 0px;
}
.next {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*---------------------PAYMENT------------------------*/


.tradePayment{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	width: 310px;
	/*height: 564px;*/
	padding: 25px 15px;
	background-color: rgba(0,0,0,0.08);
	border-radius: 15px;
	margin-top: 25px;
	margin-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.paymentTitle{
	font-size: 17px;
	text-align: center;
	flex-basis: 100%;
	margin-bottom: 25px;
}

.paymentWay{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	
	margin-bottom: 25px;
	width: 100%;
}

.paymentWayItem{
	width: 90px;
	height: 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	padding-top: 13px ;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.08);
	border-radius: 10px;
}

.paymentSelectItem{
	position: relative;

}


.paymentSelectItem::after{
	position: absolute;
	content: '';
	width: 30px;
	height: 22px;
	background: url("./assets/images/svg/checked.svg") center 5%  no-repeat;
	-webkit-background-size: 23px;
	background-size: 23px;
	z-index: 100;
	top: -5px;
	right: -7px;

}



.paymentWayItemImg{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 70px;
	margin-bottom: 10px;
}

.paymentWayItemImg img{
	max-width: 100%;
	max-height: 100%;
}

.paymentWayItemName{
	font-size: 10px;
	font-weight: 700;
}

.paymentWayItemUnderline{
	width: 60px;
	height: 2px;
	background-color: rgba(255,255,255,0.52);
	border-radius: 2px;
	margin-top: 5px;
}

.selected{
	background-color: #fff;
}

.paymentCard{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 240px;
}

.paymentCardTitle{
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	flex-basis: 100%;
	margin-bottom: 12px;
}

.paymentInputWrap,
.paymentInputWrap2{
	position: relative;
	width: 220px;
}

.paymentCardNum,
.paymentCardHolder{
	position: relative;
	width: 220px;
	max-width: inherit;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0.13);
	padding: 8px 23px 8px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
	margin-bottom:  8px;
	border-radius: 15px;
	color: #fff;

}

.paymentCardNum::-webkit-input-placeholder,
.paymentCardHolder::-webkit-input-placeholder,
.paymentCardCvc::-webkit-input-placeholder,
.paymentBonusInput::-webkit-input-placeholder {
	color: #fff;
}

.paymentCardNum::-moz-placeholder,
.paymentCardHolder::-moz-input-placeholder,
.paymentCardCvc::-moz-input-placeholder,
.paymentBonusInput::-moz-input-placeholder {
	color: #fff;
}

.paymentCardNum::-ms-input-placeholder,
.paymentCardHolder::-ms-input-placeholder,
.paymentCardCvc::-ms-input-placeholder,
.paymentBonusInput::-ms-input-placeholder {
	color: #fff;
}

.paymentInputWrap::before{
	position: absolute;
	content: '';
	width: 15px;
	height: 12px;
	background: url("./assets/images/svg/credit-card.svg") center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	top: 7px;
	left: 8px;

}

.paymentInputWrap2::before{
	position: absolute;
	content: '';
	width: 15px;
	height: 12px;
	background: url("./assets/images/svg/man-user.svg") center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	top: 7px;
	left: 8px;

}

.paymentCardMonth,
.paymentCardYear{
	position: relative;
	width: 65px;
	max-width: inherit;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0.13);
	padding: 8px 23px 8px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
	margin-bottom:  8px;
	border-radius: 15px;
	color: #fff;
	text-decoration: none;
	margin-right: 5px;
	font-weight: 700;
}

.paymentCardMonth::before,
.paymentCardYear::before{
	position: absolute;
	content: '';
	width: 15px;
	height: 12px;
	background: url("./assets/images/svg/calendar.svg") center no-repeat;
	-webkit-background-size: 10px;
	background-size: 10px;
	top: 7px;
	left: 6px;

}

.paymentCardMonth::after,
.paymentCardYear::after{
	position: absolute;
	content: '';
	width: 5px;
	height: 3px;
	background: url("./assets/images/svg/white-down_tmp.svg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	top: 12px;
	right: 5px;

}

.paymentCardMonth::after{
	right: 13px;
}

.paymentInputWrap3{
	position: relative;
	width: 70px;
}

.paymentCardCvc{
	position: relative;
	width: 70px;
	max-width: inherit;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0.13);
	padding: 8px 15px 8px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
	margin-bottom:  8px;
	border-radius: 15px;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
}

.paymentInputWrap3::before{
	position: absolute;
	content: '';
	width: 15px;
	height: 12px;
	background: url("./assets/images/svg/credit-card.svg") center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	top: 7px;
	left: 8px;

}

.paymentSelected{
	width: 240px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: flex-end;
	align-items: flex-end;
	padding-left: 30px;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.paymentSelectedTitle{
	font-size: 12px;
	font-weight: 500;
	-ms-align-self: flex-start;
	align-self: flex-start;
	margin-bottom: 7px;
}

.paymentSelectedItem{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 160px;
	padding-left: 5px;
	margin-bottom: 2px;
	font-size: 10px;
	font-weight: 500;
	height: 11px;
	background-color: rgba(0,0,0,0.13);
	border-radius: 5px;
}

.selectedPrice{
	font-size: 10px;
	font-weight: 500;
}

.selectedClose{
	width: 8px;
	height: 8px;
	margin-top: 1px;
	margin-left: 5px;
	background:  url('./assets/images/svg/cancel–ÜSelected.svg') center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}	

.paymentAmmount{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	width: 220px;
	height: 22px;
	margin-top: 10px;
	background-color: rgba(0,0,0,0.13);
	border-radius: 11px;
	padding: 0 20px 0 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.paymentAmmount::before{
	position: absolute;
	content: '';
	width: 15px;
	height: 12px;
	background: url("./assets/images/svg/moneyTransact_tmp.svg") center no-repeat;
	-webkit-background-size: 12px;
	background-size: 12px;
	top: 5px;
	left: 8px;
}

.paymentAmmountText{
	font-size: 10px;
	font-weight: 500;
}

.paymentAmmountPrice{
	font-size: 12px;
	font-weight: 700;
}

.paymentAmmountFill{
	width: 45px;
	border-bottom: 1px dotted #9BACC4;
}

.paymentBonus{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
	width: 240px;
	padding-left: 45px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 5px 0;
}

.paymentBonusCheck{
	display: none;
}

.paymentBonusCheckLabel{
	position: relative;
	font-size: 8px;
	cursor: pointer;
}


.paymentBonusCheckLabel::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: -13px;
	width: 10px;
	height: 10px;
	background: rgba(255,255,255,0.5);
	border-radius: 2px;
}

.paymentBonusCheck:checked ~ .paymentBonusCheckLabel::after{
	content: "\2713";
	position: absolute;
	left: -12px;
	bottom: -2px;
	font-size: 11px;
	color: #0e3164;

}

.paymentInputWrap4{
	position: relative;
	width: 200px;
}


.paymentBonusInput{
	position: relative;
	width: 200px;
	max-width: inherit;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0.13);
	padding: 5px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
	margin-bottom:  8px;
	border-radius: 15px;
	color: #fff;

}

.paymentInputWrap4::before{
	position: absolute;
	content: '';
	width: 15px;
	height: 11px;
	background: url("./assets/images/svg/unlock.svg") center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	top: 4px;
	left: 10px;

}

.paymentBtn{
	padding: 8px 85px;
	background-color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-decoration: none;
	color: #2d2d2d;
	margin-top: 10px;
	border-radius: 15px;
}


.gameFooter {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  background-color: #070707;
  color: #5e5e5e;
  padding: 0 85px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
}
.gameFooter {
  margin-top: 30px;
}
.footerNav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  list-style-type: none;
}
.footerNavItem {
  font-size: 14px;
  font-weight: 400;
  color: #5e5e5e;
  text-decoration: none;
  margin-right: 65px;
}